//@use "@fwrlines/stylebook/src/main" as stylebook;
@use "@fwrlines/swatch/src/main" as swatch;

//* { outline: solid .25rem hsla(210, 30, 30, .5); }

body {
  counter-reset: page;
  counter-set: pages 2;
}

.page-header,
.page-header-space {
  height: 100px;
}

.page-footer,
.page-footer-space {
  height: 50px;
}

.page-footer {
  background: yellow; /* for demo */
  border-top: 1px solid black; /* for demo */
  bottom: 0;
  position: fixed;
  width: 100%;

  &::after {
    content: counter(page) "of" counter(pages);
  }
}

tfoot {
  counter-increment: page;
}

.page-header {
  background: yellow; /* for demo */
  border-bottom: 1px solid black; /* for demo */
  position: fixed;
  top: 0;
  width: 100%;
}

.page {
  counter-increment: page;
  page-break-after: always;
}

@page {
  background: white;
  counter-increment: page;
  margin: 0;
  size: a4;
}

@media print {
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }

  button { display: none; }

  body { margin: 0; }
}
