@use "@fwrlines/stylebook/src/main" as stylebook;
@use "@fwrlines/swatch/src/main" as swatch;

//* { outline: solid .25rem hsla(210, 30, 30, .5); }

$margin-boxes-font-size:calc(var(--s-1) * 1em);
$first-column-width:calc((100/5) *1%);

html,
body {
  font-family: var(--font-paragraph);
  font-size: 14px;
}

h2 {
  //font-variant: small-caps;
}

#menu {
  background: var(--secondary);
  color: var(--on-secondary);
  position: fixed;
  top: 0;
}

.title {
  grid-column: title/span 1;
}

.second {
  grid-column: second/span 1;
}

.content {
  grid-column: content/span 1;
}

.double {
  grid-column: second/span 2;
}


.l {
  display: grid;
  grid-column-gap: .2em;
}

.l-three {
  grid-template-columns: [title] $first-column-width [second] calc((100 / 7) * 1%) [content] auto;
  page-break-inside: avoid;
}

.l-three-even {
  grid-auto-flow: dense;
  grid-template-columns: [title] $first-column-width [second] auto [content] auto;
  page-break-inside: avoid;
}

.l-three-alt {
  grid-template-columns: [title] $first-column-width [second] calc((100 / 4) * 1%) [content] auto;
  page-break-inside: avoid;
}

.l-two {
  grid-template-columns: [title] $first-column-width [content] auto;
  page-break-inside: avoid;
}

.break.break {
  page-break-inside: auto;
}


.l-work {
  grid-column-gap: 0;
  grid-template-columns: [years] calc((100/75) * (100 /7) *1%) [second] auto [location] calc((100/75) * (100/7) *1%);
  page-break-inside: avoid;

  .years {
    grid-column: years/span 1;
  }

  .content {
    grid-column: years/span 3;
  }

  .second {
    grid-column: second/span 1;
  }

  .location {
    font-style: italic;
    grid-column: location/span 1;
  }
}



.indented {
  text-indent: calc((100/75) * (100/7) * 1%);
}

code {
  background: var(--background);
  color: var(--dark-subtitle);
  white-space: nowrap;
}

section {
  margin-bottom: 1em;
}


.hoz {
  page: horizontal;
}

.page {
  background: beige;
  break-after: page;
}



.label {
  background: var(--x);
  border-radius: .25em;
  color: var(--on-x);
  padding: .3em;
}

.infodot {
  align-items: center;
  display: inline-flex;

  .circle {
    background: var(--x);
    border-radius: 50%;
    display: inline-block;
    height: 1em;
    margin-right: .1em;
    width: 1em;
  }

  .text {
    color: var(--subtitle);
    line-height: 1em;
    text-transform: uppercase;
  }
}

@media print {
  #menu {
    display: none;
  }

  @page {

    //border: 1px solid grey;
    //background: white;
    margin: 17mm 17mm 17mm;
    //outline: 1px solid blue;
    size: a4;

    @bottom-left {
      bottom: 6mm;
      content: counter(page) "/" counter(pages);
      font-size: $margin-boxes-font-size;
      font-weight: bold;
      position: relative;
      //white-space: pre-wrap;
    }

    @right-bottom {
      align-items: center;
      //background: red;
      bottom: 100mm;
      color: var(--light-metadata);
      content: "Fork\00a0\this\00a0resume:\00a0github.com/advl/resume";
      //font-size: $margin-boxes-font-size;
      height: 10mm;
      position: relative;
      text-align: right;
      transform: rotate(90deg);
      transform-origin: bottom left;
      width: 100mm;
      //white-space: pre-wrap;
    }

    @bottom-right {
      bottom: 6mm;
      color: var(--light-metadata);
      content: "Updated October 2023";
      position: relative;
    }

    @top-left {
      //color: var(--subtitle);
      content: "a@adrianv.net";
      font-weight: bold;
      position: relative;
      top: 6mm;
    }
  }

  @page horizontal {
    size: a4 horizontal;

    @bottom-left {
      content: "XXX " counter(page) " of " counter(pages);
    }
  }

  body {
    background: transparent;
    //height: 29.7cm;*/
    //width: 21cm;

    /* change the margins as you want them to be. */
  }
}

a.ct::after {
  color: inherit;
  content: " (" attr(data-ct) ")";
  font-size: .6em;
  text-align: left;
}

a:not(.sl)[href]::after {
  color: inherit;
  content: " (" attr(href) ")";
  font-size: .6em;
  text-align: left;
}
