@charset "UTF-8";
/**
 * ===== MODULE ANIMATION =====
 *
 * Classes generated
 * -----------------
 *
 * sm-h md-h lg-h h
 * pointer
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 */
/**
 * ===== MODULE BASE =====
 *
 * Colors consumed
 * --------------
 *
 * --heading
 * --paragraph
 * --light-link, --link
 *
 * Tags styled
 * -----------
 *
 * h1 ... h6
 * a
 * pre
 * ul, ol
 * blockquote
 *
 * Classes generated
 * -----------------
 *
 * .h1 ... .h6
 * .h1.small ... .h6.small
 *
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 */
/* --- Text Line, Margin --- */
/* --- Text Display --- */
/* --- Link --- */
/* --- Lists --- */
/* --- Widows --- */
/* --- Blockquote --- */
/**
 * ===== MODULE SIZES.BORDER-RADIUS =====
 *
 *
 * Variables generated
 * -------------------
 *
 * r, rl, rt, rr, rb
 *
 *
 * Default Exports
 * --------------
 *
 * - define-root-variables
 *
 */
/**
 * ===== MODULE DISPLAY =====
 *
 * Classes generated
 * -----------------
 *
 * yb
 * yi
 * yib
 * yf
 * yif
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 */
/**
 * ===== MODULE SIZES.EM =====
 *
 * Variables generated
 * -------------------
 *
 * s-3, s-2, s-2 .... s6
 * emsize, emsize-sm
 *
 *
 * Classes generated
 * -----------------
 *
 * .s-3, .s-2  ... .s6
 * .sm-s-3, .sm-s-2 ... sm-s6
 *
 * Default Exports
 * --------------
 *
 * - define-root-variables
 * - main
 *
 */
/**
 * ===== MODULE FONTS =====
 *
 * Variables generated
 * -------------------
 *
 * font-heading, font-paragraph
 * font-default (maps to one of the previous)
 * font-icon
 *
 * Classes generated
 * -----------------
 * fh
 * fp
 * fi
 * fi-icons [data-icon]
 *
 * Default Exports
 * --------------
 *
 * - external-imports
 * - define-root-variables
 * - main
 *
 */
/**
 * ===== MODULE HELPERS =====
 *
 * Classes generated
 * -----------------
 *
 * sm-h md-h lg-h h
 * pointer
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 */
/*
@mixin fit {
  img.fit {
    object-fit: cover;
  }
} */
/**
 * ===== MODULE SIZES.MARGIN-PADDING =====
 *
 * Classes generated
 * -----------------
 *
 * Setters : u0, u12, u25, u50, u1, u2 ... u10
 *           v0, v12, v25, v50, v1, v2 ... v10
 *           sm-u0, sm-u12, ... sm-u10
 *           sm-v0, sm-v12, ... sm-v10
 *
 * Getters : mt-u, mb-u, mr-u, ml-u, mv-u, mh-u
 *           mt-v, mb-v, mr-v, ml-v, mv-v, mh-v
 *           pt-v, pb-v, pr-v, pl-v, pv-v, ph-v
 *           pt-v, pb-v, pr-v, pl-v, pv-v, ph-v
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 *
 */
/**
 * ===== MODULE TEXT =====
 *
 * Classes generated
 * -----------------
 *
 * nt : no style
 * tl : lighter
 * tb : bold
 * ti : italic
 * tn : underline
 * tos : oldstyle number
 * tu : uppercase
 * tw : lowercase
 * ts : text with stroke, gets X
 * tsm : small caps (only on otf files featuring it)
 * to : most open type features for content (ligatures))
 *
 * uc : center
 * ul : left
 * ur : right
 * uj : justified
 * uc-xs : center for xs or less,
 * ul-md : center for md or less,
 *
 * Default Exports
 * --------------
 *
 * - main
 *
 */
@font-face {
  font-display: fallback;
  font-family: "paragraph";
  font-style: normal;
  font-weight: normal;
  src: url("/paragraph.woff2") format("woff2"), url("/paragraph.woff") format("woff");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
@font-face {
  font-display: fallback;
  font-family: "paragraph";
  font-style: normal;
  font-weight: bold;
  src: url("/paragraph.bold.woff2") format("woff2"), url("/paragraph.bold.woff") format("woff");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
@font-face {
  font-display: fallback;
  font-family: "headings";
  font-style: normal;
  font-weight: normal;
  src: url("/headings.woff2") format("woff2"), url("/headings.woff") format("woff");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
@font-face {
  font-display: fallback;
  font-family: "headings";
  font-style: normal;
  font-weight: bold;
  src: url("/headings.bold.woff2") format("woff2"), url("/headings.bold.woff") format("woff");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
/*******************************
             Reset
*******************************/
/* Border-Box */
*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  box-sizing: border-box;
}

/*
// iPad Input Shadows
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="password"],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;

  //mobile firefox too!
}
*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
 ========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in
*    IE on Windows Phone and in iOS.
*/
html {
  line-height: 1.07;
  /* 1 */
  text-size-adjust: 100%;
  /* 2 */
  text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 ========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
}

/**
* Add the correct display in IE 9-.
*/
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 ========================================================================== */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in IE.
*/
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 0;
}

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 ========================================================================== */
/**
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/
a {
  background-color: transparent;
  /* 1 */
  text-decoration-skip: objects;
  /* 2 */
}

/**
* 1. Remove the bottom border in Chrome 57- and Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Prevent the duplicate application of `bolder` by the next rule in Safari 6.
*/
b,
strong {
  font-weight: inherit;
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font style in Android 4.3-.
*/
dfn {
  font-style: italic;
}

/**
* Add the correct background and color in IE 9-.
*/
mark {
  background-color: #FFFF00;
  color: #000000;
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 ========================================================================== */
/**
* Add the correct display in IE 9-.
*/
audio,
video {
  display: inline-block;
}

/**
* Add the correct display in iOS 4-7.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none;
}

/**
* Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden;
}

/* Forms
 ========================================================================== */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type=button],
[type=reset],
[type=submit] {
  appearance: button;
  /* 2 */
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
* 4. Try to make it appear completely in the fieldset
*/
legend {
  box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 4 */
  float: left;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
}
legend + * {
  clear: both;
}

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 ========================================================================== */
/*
* Add the correct display in IE 9-.
* 1. Add the correct display in Edge, IE, and Firefox.
*/
details,
menu {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Scripting
 ========================================================================== */
/**
* Add the correct display in IE 9-.
*/
canvas {
  display: inline-block;
}

/**
* Add the correct display in IE.
*/
template {
  display: none;
}

/* Hidden
 ========================================================================== */
/**
* Add the correct display in IE 10-.
*/
[hidden] {
  display: none;
}

:root {
  --font-heading: headings, helvetica neue, Helvetica, Verdana, Arial, sans-serif;
  --font-paragraph: paragraph, HK Grotesk Pro, Garamond, Baskerville, Times, Times New Roman, serif;
  --font-default: var(--font-paragraph);
  --font-icon: icons;
  --emsize: 18px;
  --emsize-sm: 16px;
  --s-3: 0.5787037037;
  --s-2: 0.6944444444;
  --s-1: 0.8333333333;
  --s0: 1;
  --s1: 1.2;
  --s2: 1.44;
  --s3: 1.728;
  --s4: 2.0736;
  --s5: 2.48832;
  --s6: 2.985984;
  --rl: var(--r) 0 0 var(--r);
  --rr: 0 var(--r) var(--r) 0;
  --rt: var(--r) var(--r) 0 0;
  --rb: 0 0 var(--r) var(--r);
  --r: 0.25em;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--heading);
  font-family: var(--fh);
  font-weight: bold;
  line-height: 1.22;
  margin: 0 0 0.6em;
  padding: 0;
  word-break: break-word;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + .h1,
p + .h2,
p + .h3,
p + .h4,
p + .h5 {
  margin-top: 1.2em;
}

h1,
.h1 {
  font-size: calc(var(--heading-multiplier, 1) * var(--s6) * 1em);
  min-height: 1rem;
}

h2,
.h2,
h1.small,
.h1.small {
  font-size: calc(var(--heading-multiplier, 1) * var(--s4) * 1em);
}

h3,
.h3,
h2.small,
.h2.small {
  font-size: calc(var(--heading-multiplier, 1) * var(--s3) * 1em);
}

h4,
.h4,
h3.small,
.h3.small {
  font-size: calc(var(--heading-multiplier, 1) * var(--s2) * 1em);
}

h5,
.h5,
h4.small,
.h4.small {
  font-size: calc(var(--heading-multiplier, 1) * var(--s1) * 1em);
}

small,
.small {
  font-size: var(--s-1);
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}

/* --- ParagraphText --- */
p,
ul,
ol {
  color: var(--paragraph, inherit);
  line-height: 1.35;
}

p,
li {
  margin: 0 0 1em;
  orphans: 3;
  widows: 2;
}

ul.compact,
ol.compact {
  margin: 0 0 1em;
}
ul.compact li,
ol.compact li {
  margin-bottom: unset;
}

ul {
  list-style: none;
  padding-left: unset;
}
ul ul,
ul ol {
  margin-left: 1em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  font-size: 2rem;
  font-style: italic;
  padding-left: 0.5em;
  position: relative;
}
blockquote + *:not(figcaption) {
  margin-top: 1.6em;
}
blockquote + figcaption {
  font-size: 1.2em;
  margin-top: 1em;
  padding-right: 4em;
}
blockquote + figcaption::before {
  content: "—";
  margin-right: 1em;
}
blockquote::before {
  color: var(--z, orange);
  content: "“";
  font-size: 10em;
  font-style: normal;
  left: -2.5rem;
  opacity: 0.45;
  position: absolute;
  top: -5rem;
  z-index: -1;
}

/* --- Links --- */
a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--light-link);
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.yb {
  display: block;
}

.yi {
  display: inline;
}

/*
.yit.yit.yit.yit.yit {
  display: inline-table;
} */
.yib.yib {
  display: inline-block;
}

.yf {
  display: flex;
}

.yfc {
  display: flex;
  flex-direction: column;
}

/*
.yif {
  display: inline-flex;
}

.yifc {
  display: inline-flex;
  flex-direction:column;
}
*/
.fh {
  font-family: var(--font-heading);
}

.fp {
  font-family: var(--font-paragraph);
}

.fi {
  font-family: var(--font-icon);
  font-style: unset;
}

.fm {
  font-family: monospace;
}

@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  src: url("/icons.woff2") format("woff2"), url("/icons.woff") format("woff");
}
/* --- 360 Rotate -- */
[data-icon]::before {
  margin-right: 0.35em;
}

.fi-icons {
  --font-icon: icons;
}

[data-icon]::before,
[data-icon-left]::before,
[data-icon-right]::after,
.icons,
i.icons {
  content: attr(data-icon);
  font-family: "icons" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  speak: none;
  text-transform: none !important;
  vertical-align: middle;
}

.s-3 {
  font-size: 0.5787037037em;
}

.s-2 {
  font-size: 0.6944444444em;
}

.s-1 {
  font-size: 0.8333333333em;
}

.s0 {
  font-size: 1em;
}

.s1 {
  font-size: 1.2em;
}

.s2 {
  font-size: 1.44em;
}

.s3 {
  font-size: 1.728em;
}

.s4 {
  font-size: 2.0736em;
}

.s5 {
  font-size: 2.48832em;
}

.s6 {
  font-size: 2.985984em;
}

@media screen and (max-width: 899px) {
  .sm-s-3 {
    font-size: 0.5787037037em;
  }

  .sm-s-2 {
    font-size: 0.6944444444em;
  }

  .sm-s-1 {
    font-size: 0.8333333333em;
  }

  .sm-s0 {
    font-size: 1em;
  }

  .sm-s1 {
    font-size: 1.2em;
  }

  .sm-s2 {
    font-size: 1.44em;
  }

  .sm-s3 {
    font-size: 1.728em;
  }

  .sm-s4 {
    font-size: 2.0736em;
  }

  .sm-s5 {
    font-size: 2.48832em;
  }

  .sm-s6 {
    font-size: 2.985984em;
  }
}
.u0 {
  --u: 0rem;
}

.v0 {
  --v: 0rem;
}

.u12 {
  --u: 0.12rem;
}

.v12 {
  --v: 0.12rem;
}

.u25 {
  --u: 0.25rem;
}

.v25 {
  --v: 0.25rem;
}

.u50 {
  --u: 0.5rem;
}

.v50 {
  --v: 0.5rem;
}

.u1 {
  --u: 1rem;
}

.v1 {
  --v: 1rem;
}

.u2 {
  --u: 2rem;
}

.v2 {
  --v: 2rem;
}

.u3 {
  --u: 3rem;
}

.v3 {
  --v: 3rem;
}

.u4 {
  --u: 4rem;
}

.v4 {
  --v: 4rem;
}

.u5 {
  --u: 5rem;
}

.v5 {
  --v: 5rem;
}

.u6 {
  --u: 6rem;
}

.v6 {
  --v: 6rem;
}

.u8 {
  --u: 8rem;
}

.v8 {
  --v: 8rem;
}

.u10 {
  --u: 10rem;
}

.v10 {
  --v: 10rem;
}

@media screen and (max-width: 899px) {
  .sm-u0 {
    --u: 0rem;
  }

  .sm-v0 {
    --v: 0rem;
  }

  .sm-u12 {
    --u: 0.12rem;
  }

  .sm-v12 {
    --v: 0.12rem;
  }

  .sm-u25 {
    --u: 0.25rem;
  }

  .sm-v25 {
    --v: 0.25rem;
  }

  .sm-u50 {
    --u: 0.5rem;
  }

  .sm-v50 {
    --v: 0.5rem;
  }

  .sm-u1 {
    --u: 1rem;
  }

  .sm-v1 {
    --v: 1rem;
  }

  .sm-u2 {
    --u: 2rem;
  }

  .sm-v2 {
    --v: 2rem;
  }

  .sm-u3 {
    --u: 3rem;
  }

  .sm-v3 {
    --v: 3rem;
  }

  .sm-u4 {
    --u: 4rem;
  }

  .sm-v4 {
    --v: 4rem;
  }

  .sm-u5 {
    --u: 5rem;
  }

  .sm-v5 {
    --v: 5rem;
  }

  .sm-u6 {
    --u: 6rem;
  }

  .sm-v6 {
    --v: 6rem;
  }

  .sm-u8 {
    --u: 8rem;
  }

  .sm-v8 {
    --v: 8rem;
  }

  .sm-u10 {
    --u: 10rem;
  }

  .sm-v10 {
    --v: 10rem;
  }
}
.mt-u {
  margin-top: var(--u);
}

.mb-u {
  margin-bottom: var(--u);
}

.ml-u {
  margin-left: var(--u);
}

.mr-u {
  margin-right: var(--u);
}

.mh-u {
  margin-left: var(--u);
  margin-right: var(--u);
}

.mv-u {
  margin-top: var(--u);
  margin-bottom: var(--u);
}

.m-u {
  margin: var(--u);
}

.pt-u {
  padding-top: var(--u);
}

.pb-u {
  padding-bottom: var(--u);
}

.pl-u {
  padding-left: var(--u);
}

.pr-u {
  padding-right: var(--u);
}

.ph-u {
  padding-left: var(--u);
  padding-right: var(--u);
}

.pv-u {
  padding-top: var(--u);
  padding-bottom: var(--u);
}

.p-u {
  padding: var(--u);
}

.mt-v {
  margin-top: var(--v);
}

.mb-v {
  margin-bottom: var(--v);
}

.ml-v {
  margin-left: var(--v);
}

.mr-v {
  margin-right: var(--v);
}

.mh-v {
  margin-left: var(--v);
  margin-right: var(--v);
}

.mv-v {
  margin-top: var(--v);
  margin-bottom: var(--v);
}

.m-v {
  margin: var(--v);
}

.pt-v {
  padding-top: var(--v);
}

.pb-v {
  padding-bottom: var(--v);
}

.pl-v {
  padding-left: var(--v);
}

.pr-v {
  padding-right: var(--v);
}

.ph-v {
  padding-left: var(--v);
  padding-right: var(--v);
}

.pv-v {
  padding-top: var(--v);
  padding-bottom: var(--v);
}

.p-v {
  padding: var(--v);
}

.nm {
  margin: 0;
}

.np {
  padding: 0;
}

.nt {
  font-style: normal;
  font-weight: normal;
}

.tl {
  font-weight: lighter;
}

.tb {
  font-weight: bold;
}

.ti {
  font-style: italic;
}

.tu {
  text-transform: uppercase;
}

.tn {
  text-decoration: underline;
}

.tw {
  text-transform: lowercase;
}

.tsm {
  font-feature-settings: "smcp" 1;
}

.ts {
  color: transparent;
  -webkit-text-stroke: 2px var(--x, var(--paragraph));
  text-stroke: 2px var(--x, var(--paragraph));
}

.to {
  font-feature-settings: "onum" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
}

.tos {
  font-feature-settings: "onum" 1;
}

.ul {
  text-align: left;
}

.ur {
  text-align: right;
}

.uc {
  text-align: center;
}

.uj {
  text-align: justify;
}

@media screen and (max-width: 599px) {
  .xs-ul {
    text-align: left;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .sm-ul {
    text-align: left;
  }
}
@media screen and (min-width: 900px) and (max-width: 1368px) {
  .md-ul {
    text-align: left;
  }
}
@media screen and (min-width: 1369px) {
  .lg-ul {
    text-align: left;
  }
}
@media screen and (max-width: 599px) {
  .xs-ur {
    text-align: right;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .sm-ur {
    text-align: right;
  }
}
@media screen and (min-width: 900px) and (max-width: 1368px) {
  .md-ur {
    text-align: right;
  }
}
@media screen and (min-width: 1369px) {
  .lg-ur {
    text-align: right;
  }
}
@media screen and (max-width: 599px) {
  .xs-uc {
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .sm-uc {
    text-align: center;
  }
}
@media screen and (min-width: 900px) and (max-width: 1368px) {
  .md-uc {
    text-align: center;
  }
}
@media screen and (min-width: 1369px) {
  .lg-uc {
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  .xs-uj {
    text-align: justify;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .sm-uj {
    text-align: justify;
  }
}
@media screen and (min-width: 900px) and (max-width: 1368px) {
  .md-uj {
    text-align: justify;
  }
}
@media screen and (min-width: 1369px) {
  .lg-uj {
    text-align: justify;
  }
}
.pointer {
  cursor: pointer;
}

/* --- Hidden --- */
.h {
  display: none !important;
}

@media screen and (max-width: 599px) {
  .xs-h {
    display: none !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .sm-h {
    display: none !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1368px) {
  .md-h {
    display: none !important;
  }
}
@media screen and (min-width: 1369px) {
  .lg-h {
    display: none !important;
  }
}
@keyframes draw-stroke {
  0% {
    stroke-dashoffset: var(--svg-odo, 1000);
  }
  100% {
    stroke-dashoffset: var(--svg-tdo, 0);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.t, h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
p,
li,
a,
figure blockquote,
figure figcaption {
  transition: all 0.25s;
}

/*
$red:#DF1F00;

html {
  color: $red;
} */
/* --- Main  --- */
html,
body {
  height: 100%;
}

html {
  font-size: var(--emsize);
}
@media screen and (min-width: 900px) {
  html {
    font-size: var(--emsize-sm);
  }
}

body {
  background: var(--light-background);
  color: var(--paragraph);
  font-family: var(--font-paragraph);
  line-height: 1.35;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.basic.basic {
  background: transparent;
  border: 2px solid var(--x);
  box-shadow: unset;
  color: var(--x, var(--black));
}

.hbasic.hbasic.hbasic:hover {
  background: transparent;
  border: 2px solid var(--dark-x, var(--black));
  color: var(--dark-x, var(--black));
}
.hbasic.hbasic.hbasic:focus, .hbasic.hbasic.hbasic:active {
  background: var(--x, var(--black));
  border: 2px solid var(--x, var(--black));
  color: var(--on-x, var(--black));
}

.simple.simple,
.simple.simple:disabled {
  background: transparent;
  box-shadow: unset;
  color: var(--x, var(--black));
}

.hsimple.hsimple.hsimple:hover {
  background: rgba(255, 255, 255, 0);
  color: var(--dark-x, var(--black));
}
.hsimple.hsimple.hsimple:focus, .hsimple.hsimple.hsimple:active {
  background: rgba(255, 255, 255, 0);
  color: var(--light-x, var(--black));
}

.dash.dash {
  background: transparent;
  color: var(--dark-subtitle);
}
.dash.dash::before {
  background: var(--x, var(--primary));
  content: " ";
  display: inline-block;
  height: 0.1em;
  margin-right: 0.6em;
  overflow: hidden;
  vertical-align: middle;
  width: 1.6em;
}

.hdash.hdash:hover::before {
  background: var(--dark-x);
}
.hdash.hdash:focus::before, .hdash.hdash:active::before {
  background: var(--light--x);
}

.in3d.in3d {
  border-bottom: 5px solid var(--dark-x);
  border-radius: 0.2rem;
}

.hin3d.hin3d.hin3d:hover {
  border-bottom: 5px solid var(--x);
}
.hin3d.hin3d.hin3d:focus, .hin3d.hin3d.hin3d:active {
  border-bottom: 0;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.shadow {
  box-shadow: var(--shadow);
}
.shadow:hover, .shadow:focus {
  box-shadow: var(--shadow-hover, var(--shadow));
}

.cool-link {
  display: inline-block;
}
.cool-link::after {
  background: var(--link);
  content: "";
  display: block;
  height: 2px;
  transition: all 0.3s;
  width: 0;
}
.cool-link:hover::after {
  background: var(--dark-link);
  width: 100%;
}

@media screen and (min-width: 900px) {
  .book {
    font-size: calc(var(--s1, 1) * 1em);
  }
}
.book ul {
  padding-left: unset;
}
.book ul > li {
  list-style: square;
}
.book ul > li,
.book ul ul,
.book ul ol {
  margin-left: 2em;
}
.book p,
.book li {
  line-height: 1.7em;
  text-align: justify;
}
.book img.fit {
  object-fit: contain;
}
.book p + div,
.book div.row + div,
.book div.row + img,
.book img + div {
  margin-top: 6em;
}
.book img + p,
.book p + img {
  margin-top: 3em;
}

ul.inline,
ol.inline {
  display: inline-flex;
}
ul.inline li,
ol.inline li {
  margin: 0;
}
ul.inline li + li::before,
ol.inline li + li::before {
  color: var(--z, var(--metadata));
  content: var(--separator, "|");
  margin-left: 0.5em;
  margin-right: 0.5em;
}

img.cover {
  object-fit: cover;
}

img.contain {
  object-fit: contain;
}

/* black   */
/* red     */
/* green   */
/* yellow  */
/* blue    */
/* magenta */
/* cyan    */
/* white   */
/* 8;bright colors */
/* black   */
/* red     */
/* green   */
/* yellow  */
/* blue    */
/* magenta */
/* cyan    */
/* white   */
/*! from alphabet-scss */
/**
 *
 * This is the default implementation of the Swatch scss library
 *
 *
 */
:root {
  --black: #000000;
  --light-black: #121314;
  --dark-black: #000000;
  --on-black: #ffffff;
  --white: #ffffff;
  --light-white: #ffffff;
  --dark-white: #f2f3f4;
  --on-white: #000000;
  --grey: #aabbcc;
  --light-grey: #bcbdbe;
  --dark-grey: #727374;
  --on-grey: #ffffff;
  --error: #f8333c;
  --light-error: #f48489;
  --dark-error: #df000a;
  --on-error: #ffffff;
  --warning: #ffbf00;
  --light-warning: #f6ce55;
  --dark-warning: #b38600;
  --on-warning: #ffffff;
  --success: #44af69;
  --light-success: #7fc096;
  --dark-success: #268045;
  --on-success: #ffffff;
  --primary: #213a8f;
  --light-primary: #3c5ac1;
  --dark-primary: #0e1e56;
  --on-primary: #ffffff;
  --secondary: #ff947a;
  --light-secondary: #fcd3c9;
  --dark-secondary: #ff562e;
  --on-secondary: #ffffff;
  --accent1: #32f9e1;
  --light-accent1: #83f4e7;
  --dark-accent1: #00dfc4;
  --on-accent1: #ffffff;
  --accent2: #ee4266;
  --light-accent2: #ee8fa3;
  --dark-accent2: #dc0734;
  --on-accent2: #ffffff;
  --accent3: pink;
  --light-accent3: white;
  --dark-accent3: #ff748c;
  --on-accent3: #000000;
  --red: #f8333c;
  --light-red: #f48489;
  --dark-red: #df000a;
  --on-red: #ffffff;
  --orange: #f46036;
  --light-orange: #f19d85;
  --dark-orange: #dd3100;
  --on-orange: #ffffff;
  --yellow: #ffbf00;
  --light-yellow: #f6ce55;
  --dark-yellow: #b38600;
  --on-yellow: #ffffff;
  --olive: grey;
  --light-olive: #a6a6a6;
  --dark-olive: #635151;
  --on-olive: #ffffff;
  --green: #44af69;
  --light-green: #7fc096;
  --dark-green: #268045;
  --on-green: #ffffff;
  --indigo: #43aa8b;
  --light-indigo: #7cbeaa;
  --dark-indigo: #257b61;
  --on-indigo: #ffffff;
  --azure: #32f9e1;
  --light-azure: #83f4e7;
  --dark-azure: #00dfc4;
  --on-azure: #ffffff;
  --blue: #213a8f;
  --light-blue: #3c5ac1;
  --dark-blue: #0e1e56;
  --on-blue: #ffffff;
  --violet: #9381ff;
  --light-violet: #d6d0fd;
  --dark-violet: #5135ff;
  --on-violet: #000000;
  --pink: grey;
  --light-pink: #a6a6a6;
  --dark-pink: #635151;
  --on-pink: #ffffff;
  --transparent: transparent;
  --light-transparent: transparent;
  --dark-transparent: transparent;
  --on-transparent: #000000;
  --background: #f2f3f4;
  --light-background: #ffffff;
  --dark-background: #dddedf;
  --paragraph: #121314;
  --light-paragraph: #000000;
  --dark-paragraph: #323334;
  --on-paragraph: #ffffff;
  --navlink: #121314;
  --light-navlink: #323334;
  --dark-navlink: #000000;
  --on-navlink: #ffffff;
  --link: #3c5ac1;
  --light-link: #32f9e1;
  --dark-link: #213a8f;
  --on-link: #ffffff;
  --heading: #000000;
  --light-heading: #121314;
  --dark-heading: #000000;
  --on-heading: #ffffff;
  --subtitle: #727374;
  --light-subtitle: #aabbcc;
  --dark-subtitle: #121314;
  --on-subtitle: #ffffff;
  --metadata: #bcbdbe;
  --light-metadata: #dddedf;
  --dark-metadata: #aabbcc;
  --on-metadata: #000000;
  --twitter: #55acee;
  --light-twitter: #a0cdef;
  --dark-twitter: #0a8bec;
  --on-twitter: #ffffff;
  --facebook: #3b5999;
  --light-facebook: #6a82b6;
  --dark-facebook: #1f3669;
  --on-facebook: #ffffff;
  --instagram: #e4405f;
  --light-instagram: #e68a9c;
  --dark-instagram: #c81033;
  --on-instagram: #ffffff;
  --google: #f2f3f4;
  --light-google: white;
  --dark-google: #c4cdd6;
  --on-google: #000000;
}

.x-black,
.xh-black:focus,
.xh-black:hover {
  --x: var(--black);
  --light-x: var(--light-black);
  --dark-x: var(--dark-black);
  --on-x: var(--on-black);
}

.y-black,
.yh-black:focus,
.yh-black:hover {
  --y: var(--black);
  --light-y: var(--light-black);
  --dark-y: var(--dark-black);
  --on-y: var(--on-black);
}

.x-white,
.xh-white:focus,
.xh-white:hover {
  --x: var(--white);
  --light-x: var(--light-white);
  --dark-x: var(--dark-white);
  --on-x: var(--on-white);
}

.y-white,
.yh-white:focus,
.yh-white:hover {
  --y: var(--white);
  --light-y: var(--light-white);
  --dark-y: var(--dark-white);
  --on-y: var(--on-white);
}

.x-grey,
.xh-grey:focus,
.xh-grey:hover {
  --x: var(--grey);
  --light-x: var(--light-grey);
  --dark-x: var(--dark-grey);
  --on-x: var(--on-grey);
}

.y-grey,
.yh-grey:focus,
.yh-grey:hover {
  --y: var(--grey);
  --light-y: var(--light-grey);
  --dark-y: var(--dark-grey);
  --on-y: var(--on-grey);
}

.x-primary,
.xh-primary:focus,
.xh-primary:hover {
  --x: var(--primary);
  --light-x: var(--light-primary);
  --dark-x: var(--dark-primary);
  --on-x: var(--on-primary);
}

.y-primary,
.yh-primary:focus,
.yh-primary:hover {
  --y: var(--primary);
  --light-y: var(--light-primary);
  --dark-y: var(--dark-primary);
  --on-y: var(--on-primary);
}

.x-secondary,
.xh-secondary:focus,
.xh-secondary:hover {
  --x: var(--secondary);
  --light-x: var(--light-secondary);
  --dark-x: var(--dark-secondary);
  --on-x: var(--on-secondary);
}

.y-secondary,
.yh-secondary:focus,
.yh-secondary:hover {
  --y: var(--secondary);
  --light-y: var(--light-secondary);
  --dark-y: var(--dark-secondary);
  --on-y: var(--on-secondary);
}

.x-accent1,
.xh-accent1:focus,
.xh-accent1:hover {
  --x: var(--accent1);
  --light-x: var(--light-accent1);
  --dark-x: var(--dark-accent1);
  --on-x: var(--on-accent1);
}

.y-accent1,
.yh-accent1:focus,
.yh-accent1:hover {
  --y: var(--accent1);
  --light-y: var(--light-accent1);
  --dark-y: var(--dark-accent1);
  --on-y: var(--on-accent1);
}

.x-accent2,
.xh-accent2:focus,
.xh-accent2:hover {
  --x: var(--accent2);
  --light-x: var(--light-accent2);
  --dark-x: var(--dark-accent2);
  --on-x: var(--on-accent2);
}

.y-accent2,
.yh-accent2:focus,
.yh-accent2:hover {
  --y: var(--accent2);
  --light-y: var(--light-accent2);
  --dark-y: var(--dark-accent2);
  --on-y: var(--on-accent2);
}

.x-accent3,
.xh-accent3:focus,
.xh-accent3:hover {
  --x: var(--accent3);
  --light-x: var(--light-accent3);
  --dark-x: var(--dark-accent3);
  --on-x: var(--on-accent3);
}

.y-accent3,
.yh-accent3:focus,
.yh-accent3:hover {
  --y: var(--accent3);
  --light-y: var(--light-accent3);
  --dark-y: var(--dark-accent3);
  --on-y: var(--on-accent3);
}

.x-error,
.xh-error:focus,
.xh-error:hover {
  --x: var(--error);
  --light-x: var(--light-error);
  --dark-x: var(--dark-error);
  --on-x: var(--on-error);
}

.y-error,
.yh-error:focus,
.yh-error:hover {
  --y: var(--error);
  --light-y: var(--light-error);
  --dark-y: var(--dark-error);
  --on-y: var(--on-error);
}

.x-warning,
.xh-warning:focus,
.xh-warning:hover {
  --x: var(--warning);
  --light-x: var(--light-warning);
  --dark-x: var(--dark-warning);
  --on-x: var(--on-warning);
}

.y-warning,
.yh-warning:focus,
.yh-warning:hover {
  --y: var(--warning);
  --light-y: var(--light-warning);
  --dark-y: var(--dark-warning);
  --on-y: var(--on-warning);
}

.x-success,
.xh-success:focus,
.xh-success:hover {
  --x: var(--success);
  --light-x: var(--light-success);
  --dark-x: var(--dark-success);
  --on-x: var(--on-success);
}

.y-success,
.yh-success:focus,
.yh-success:hover {
  --y: var(--success);
  --light-y: var(--light-success);
  --dark-y: var(--dark-success);
  --on-y: var(--on-success);
}

.x-red,
.xh-red:focus,
.xh-red:hover {
  --x: var(--red);
  --light-x: var(--light-red);
  --dark-x: var(--dark-red);
  --on-x: var(--on-red);
}

.y-red,
.yh-red:focus,
.yh-red:hover {
  --y: var(--red);
  --light-y: var(--light-red);
  --dark-y: var(--dark-red);
  --on-y: var(--on-red);
}

.x-orange,
.xh-orange:focus,
.xh-orange:hover {
  --x: var(--orange);
  --light-x: var(--light-orange);
  --dark-x: var(--dark-orange);
  --on-x: var(--on-orange);
}

.y-orange,
.yh-orange:focus,
.yh-orange:hover {
  --y: var(--orange);
  --light-y: var(--light-orange);
  --dark-y: var(--dark-orange);
  --on-y: var(--on-orange);
}

.x-yellow,
.xh-yellow:focus,
.xh-yellow:hover {
  --x: var(--yellow);
  --light-x: var(--light-yellow);
  --dark-x: var(--dark-yellow);
  --on-x: var(--on-yellow);
}

.y-yellow,
.yh-yellow:focus,
.yh-yellow:hover {
  --y: var(--yellow);
  --light-y: var(--light-yellow);
  --dark-y: var(--dark-yellow);
  --on-y: var(--on-yellow);
}

.x-olive,
.xh-olive:focus,
.xh-olive:hover {
  --x: var(--olive);
  --light-x: var(--light-olive);
  --dark-x: var(--dark-olive);
  --on-x: var(--on-olive);
}

.y-olive,
.yh-olive:focus,
.yh-olive:hover {
  --y: var(--olive);
  --light-y: var(--light-olive);
  --dark-y: var(--dark-olive);
  --on-y: var(--on-olive);
}

.x-green,
.xh-green:focus,
.xh-green:hover {
  --x: var(--green);
  --light-x: var(--light-green);
  --dark-x: var(--dark-green);
  --on-x: var(--on-green);
}

.y-green,
.yh-green:focus,
.yh-green:hover {
  --y: var(--green);
  --light-y: var(--light-green);
  --dark-y: var(--dark-green);
  --on-y: var(--on-green);
}

.x-indigo,
.xh-indigo:focus,
.xh-indigo:hover {
  --x: var(--indigo);
  --light-x: var(--light-indigo);
  --dark-x: var(--dark-indigo);
  --on-x: var(--on-indigo);
}

.y-indigo,
.yh-indigo:focus,
.yh-indigo:hover {
  --y: var(--indigo);
  --light-y: var(--light-indigo);
  --dark-y: var(--dark-indigo);
  --on-y: var(--on-indigo);
}

.x-azure,
.xh-azure:focus,
.xh-azure:hover {
  --x: var(--azure);
  --light-x: var(--light-azure);
  --dark-x: var(--dark-azure);
  --on-x: var(--on-azure);
}

.y-azure,
.yh-azure:focus,
.yh-azure:hover {
  --y: var(--azure);
  --light-y: var(--light-azure);
  --dark-y: var(--dark-azure);
  --on-y: var(--on-azure);
}

.x-blue,
.xh-blue:focus,
.xh-blue:hover {
  --x: var(--blue);
  --light-x: var(--light-blue);
  --dark-x: var(--dark-blue);
  --on-x: var(--on-blue);
}

.y-blue,
.yh-blue:focus,
.yh-blue:hover {
  --y: var(--blue);
  --light-y: var(--light-blue);
  --dark-y: var(--dark-blue);
  --on-y: var(--on-blue);
}

.x-violet,
.xh-violet:focus,
.xh-violet:hover {
  --x: var(--violet);
  --light-x: var(--light-violet);
  --dark-x: var(--dark-violet);
  --on-x: var(--on-violet);
}

.y-violet,
.yh-violet:focus,
.yh-violet:hover {
  --y: var(--violet);
  --light-y: var(--light-violet);
  --dark-y: var(--dark-violet);
  --on-y: var(--on-violet);
}

.x-pink,
.xh-pink:focus,
.xh-pink:hover {
  --x: var(--pink);
  --light-x: var(--light-pink);
  --dark-x: var(--dark-pink);
  --on-x: var(--on-pink);
}

.y-pink,
.yh-pink:focus,
.yh-pink:hover {
  --y: var(--pink);
  --light-y: var(--light-pink);
  --dark-y: var(--dark-pink);
  --on-y: var(--on-pink);
}

.x-transparent,
.xh-transparent:focus,
.xh-transparent:hover {
  --x: var(--transparent);
  --light-x: var(--light-transparent);
  --dark-x: var(--dark-transparent);
  --on-x: var(--on-transparent);
}

.y-transparent,
.yh-transparent:focus,
.yh-transparent:hover {
  --y: var(--transparent);
  --light-y: var(--light-transparent);
  --dark-y: var(--dark-transparent);
  --on-y: var(--on-transparent);
}

.x-background,
.xh-background:focus,
.xh-background:hover {
  --x: var(--background);
  --light-x: var(--light-background);
  --dark-x: var(--dark-background);
  --on-x: var(--on-background);
}

.y-background,
.yh-background:focus,
.yh-background:hover {
  --y: var(--background);
  --light-y: var(--light-background);
  --dark-y: var(--dark-background);
  --on-y: var(--on-background);
}

.x-paragraph,
.xh-paragraph:focus,
.xh-paragraph:hover {
  --x: var(--paragraph);
  --light-x: var(--light-paragraph);
  --dark-x: var(--dark-paragraph);
  --on-x: var(--on-paragraph);
}

.y-paragraph,
.yh-paragraph:focus,
.yh-paragraph:hover {
  --y: var(--paragraph);
  --light-y: var(--light-paragraph);
  --dark-y: var(--dark-paragraph);
  --on-y: var(--on-paragraph);
}

.x-navlink,
.xh-navlink:focus,
.xh-navlink:hover {
  --x: var(--navlink);
  --light-x: var(--light-navlink);
  --dark-x: var(--dark-navlink);
  --on-x: var(--on-navlink);
}

.y-navlink,
.yh-navlink:focus,
.yh-navlink:hover {
  --y: var(--navlink);
  --light-y: var(--light-navlink);
  --dark-y: var(--dark-navlink);
  --on-y: var(--on-navlink);
}

.x-link,
.xh-link:focus,
.xh-link:hover {
  --x: var(--link);
  --light-x: var(--light-link);
  --dark-x: var(--dark-link);
  --on-x: var(--on-link);
}

.y-link,
.yh-link:focus,
.yh-link:hover {
  --y: var(--link);
  --light-y: var(--light-link);
  --dark-y: var(--dark-link);
  --on-y: var(--on-link);
}

.x-heading,
.xh-heading:focus,
.xh-heading:hover {
  --x: var(--heading);
  --light-x: var(--light-heading);
  --dark-x: var(--dark-heading);
  --on-x: var(--on-heading);
}

.y-heading,
.yh-heading:focus,
.yh-heading:hover {
  --y: var(--heading);
  --light-y: var(--light-heading);
  --dark-y: var(--dark-heading);
  --on-y: var(--on-heading);
}

.x-subtitle,
.xh-subtitle:focus,
.xh-subtitle:hover {
  --x: var(--subtitle);
  --light-x: var(--light-subtitle);
  --dark-x: var(--dark-subtitle);
  --on-x: var(--on-subtitle);
}

.y-subtitle,
.yh-subtitle:focus,
.yh-subtitle:hover {
  --y: var(--subtitle);
  --light-y: var(--light-subtitle);
  --dark-y: var(--dark-subtitle);
  --on-y: var(--on-subtitle);
}

.x-metadata,
.xh-metadata:focus,
.xh-metadata:hover {
  --x: var(--metadata);
  --light-x: var(--light-metadata);
  --dark-x: var(--dark-metadata);
  --on-x: var(--on-metadata);
}

.y-metadata,
.yh-metadata:focus,
.yh-metadata:hover {
  --y: var(--metadata);
  --light-y: var(--light-metadata);
  --dark-y: var(--dark-metadata);
  --on-y: var(--on-metadata);
}

.x-twitter,
.xh-twitter:focus,
.xh-twitter:hover {
  --x: var(--twitter);
  --light-x: var(--light-twitter);
  --dark-x: var(--dark-twitter);
  --on-x: var(--on-twitter);
}

.y-twitter,
.yh-twitter:focus,
.yh-twitter:hover {
  --y: var(--twitter);
  --light-y: var(--light-twitter);
  --dark-y: var(--dark-twitter);
  --on-y: var(--on-twitter);
}

.x-facebook,
.xh-facebook:focus,
.xh-facebook:hover {
  --x: var(--facebook);
  --light-x: var(--light-facebook);
  --dark-x: var(--dark-facebook);
  --on-x: var(--on-facebook);
}

.y-facebook,
.yh-facebook:focus,
.yh-facebook:hover {
  --y: var(--facebook);
  --light-y: var(--light-facebook);
  --dark-y: var(--dark-facebook);
  --on-y: var(--on-facebook);
}

.x-instagram,
.xh-instagram:focus,
.xh-instagram:hover {
  --x: var(--instagram);
  --light-x: var(--light-instagram);
  --dark-x: var(--dark-instagram);
  --on-x: var(--on-instagram);
}

.y-instagram,
.yh-instagram:focus,
.yh-instagram:hover {
  --y: var(--instagram);
  --light-y: var(--light-instagram);
  --dark-y: var(--dark-instagram);
  --on-y: var(--on-instagram);
}

.x-google,
.xh-google:focus,
.xh-google:hover {
  --x: var(--google);
  --light-x: var(--light-google);
  --dark-x: var(--dark-google);
  --on-x: var(--on-google);
}

.y-google,
.yh-google:focus,
.yh-google:hover {
  --y: var(--google);
  --light-y: var(--light-google);
  --dark-y: var(--dark-google);
  --on-y: var(--on-google);
}

.ui-light {
  --background: #f2f3f4;
  --light-background: #ffffff;
  --dark-background: #dddedf;
  --paragraph: #121314;
  --light-paragraph: #000000;
  --dark-paragraph: #323334;
  --on-paragraph: #ffffff;
  --navlink: #121314;
  --light-navlink: #323334;
  --dark-navlink: #000000;
  --on-navlink: #ffffff;
  --link: #3c5ac1;
  --light-link: #32f9e1;
  --dark-link: #213a8f;
  --on-link: #ffffff;
  --heading: #000000;
  --light-heading: #121314;
  --dark-heading: #000000;
  --on-heading: #ffffff;
  --subtitle: #727374;
  --light-subtitle: #aabbcc;
  --dark-subtitle: #121314;
  --on-subtitle: #ffffff;
  --metadata: #bcbdbe;
  --light-metadata: #dddedf;
  --dark-metadata: #aabbcc;
  --on-metadata: #000000;
}

#main.ui-light,
#main > .ui-light {
  --shadow: 0.2em 0.2em 0.5em rgba(188, 190, 189, 0.8);
}

.ui-dark {
  --background: #121314;
  --light-background: #323334;
  --dark-background: #000000;
  --paragraph: #f2f3f4;
  --light-paragraph: #ffffff;
  --dark-paragraph: #dddedf;
  --on-paragraph: #000000;
  --navlink: #f2f3f4;
  --light-navlink: #dddedf;
  --dark-navlink: #ffffff;
  --on-navlink: #000000;
  --link: #00dfc4;
  --light-link: #009280;
  --dark-link: #32f9e1;
  --on-link: #ffffff;
  --heading: #ffffff;
  --light-heading: #ffffff;
  --dark-heading: #f2f3f4;
  --on-heading: #000000;
  --subtitle: #bcbdbe;
  --light-subtitle: #aabbcc;
  --dark-subtitle: #dddedf;
  --on-subtitle: #000000;
  --metadata: #727374;
  --light-metadata: #323334;
  --dark-metadata: #aabbcc;
  --on-metadata: #ffffff;
}

#main.ui-dark,
#main > .ui-dark {
  --shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
}

.ui-iceberg {
  --background: black;
  --light-background: #161821;
  --dark-background: black;
  --paragraph: #c6c8d1;
  --light-paragraph: #d2d4de;
  --dark-paragraph: #9399b8;
  --on-paragraph: #161821;
  --navlink: #89b8c2;
  --light-navlink: #95c4ce;
  --dark-navlink: #4aa2b4;
  --on-navlink: #c6c8d1;
  --link: #89b8c2;
  --light-link: #95c4ce;
  --dark-link: #4aa2b4;
  --on-link: #c6c8d1;
  --heading: #c6c8d1;
  --light-heading: #d2d4de;
  --dark-heading: #9399b8;
  --on-heading: #161821;
  --subtitle: #9399b8;
  --light-subtitle: #c6c8d1;
  --dark-subtitle: #5866a6;
  --on-subtitle: #161821;
  --metadata: #84a0c6;
  --light-metadata: #91acd1;
  --dark-metadata: #4476ba;
  --on-metadata: #c6c8d1;
  --success: #b4be82;
  --light-success: #c0ca8e;
  --dark-success: #9bac47;
  --on-success: #c6c8d1;
  --error: #e27878;
  --light-error: #e98989;
  --dark-error: #e02d2d;
  --on-error: #c6c8d1;
  --warning: #e2a478;
  --light-warning: #e9b189;
  --dark-warning: #e0782d;
  --on-warning: #c6c8d1;
}

#main.ui-iceberg,
#main > .ui-iceberg {
  --shadow-hover: 0 0 4em rgba(149, 206, 196, 0.2);
}

.b-x {
  background: var(--x);
}

.c-x {
  color: var(--x);
  stroke: var(--x);
}

.d-x {
  border-color: var(--x);
}

.e-x {
  fill: var(--x);
}

.b-light-x {
  background: var(--light-x);
}

.c-light-x {
  color: var(--light-x);
  stroke: var(--light-x);
}

.e-light-x {
  fill: var(--light-x);
}

.b-dark-x {
  background: var(--dark-x);
}

.c-dark-x {
  color: var(--dark-x);
  stroke: var(--dark-x);
}

.e-dark-x {
  fill: var(--dark-x);
}

.b-on-x {
  background: var(--on-x);
}

.c-on-x {
  color: var(--on-x);
  stroke: var(--on-x);
}

.e-on-x {
  fill: var(--on-x);
}

.b-y {
  background: var(--y);
}

.c-y {
  color: var(--y);
  stroke: var(--y);
}

.d-y {
  border-color: var(--y);
}

.e-y {
  fill: var(--y);
}

.b-light-y {
  background: var(--light-y);
}

.c-light-y {
  color: var(--light-y);
  stroke: var(--light-y);
}

.e-light-y {
  fill: var(--light-y);
}

.b-dark-y {
  background: var(--dark-y);
}

.c-dark-y {
  color: var(--dark-y);
  stroke: var(--dark-y);
}

.e-dark-y {
  fill: var(--dark-y);
}

.b-on-y {
  background: var(--on-y);
}

.c-on-y {
  color: var(--on-y);
  stroke: var(--on-y);
}

.e-on-y {
  fill: var(--on-y);
}

html,
body {
  font-family: var(--font-paragraph);
  font-size: 14px;
}

#menu {
  background: var(--secondary);
  color: var(--on-secondary);
  position: fixed;
  top: 0;
}

.title {
  grid-column: title/span 1;
}

.second {
  grid-column: second/span 1;
}

.content {
  grid-column: content/span 1;
}

.double {
  grid-column: second/span 2;
}

.l {
  display: grid;
  grid-column-gap: 0.2em;
}

.l-three {
  grid-template-columns: [title] calc((100/5) *1%) [second] calc((100 / 7) * 1%) [content] auto;
  page-break-inside: avoid;
}

.l-three-even {
  grid-auto-flow: dense;
  grid-template-columns: [title] calc((100/5) *1%) [second] auto [content] auto;
  page-break-inside: avoid;
}

.l-three-alt {
  grid-template-columns: [title] calc((100/5) *1%) [second] calc((100 / 4) * 1%) [content] auto;
  page-break-inside: avoid;
}

.l-two {
  grid-template-columns: [title] calc((100/5) *1%) [content] auto;
  page-break-inside: avoid;
}

.break.break {
  page-break-inside: auto;
}

.l-work {
  grid-column-gap: 0;
  grid-template-columns: [years] calc((100/75) * (100 /7) *1%) [second] auto [location] calc((100/75) * (100/7) *1%);
  page-break-inside: avoid;
}
.l-work .years {
  grid-column: years/span 1;
}
.l-work .content {
  grid-column: years/span 3;
}
.l-work .second {
  grid-column: second/span 1;
}
.l-work .location {
  font-style: italic;
  grid-column: location/span 1;
}

.indented {
  text-indent: calc((100/75) * (100/7) * 1%);
}

code {
  background: var(--background);
  color: var(--dark-subtitle);
  white-space: nowrap;
}

section {
  margin-bottom: 1em;
}

.hoz {
  page: horizontal;
}

.page {
  background: beige;
  break-after: page;
}

.label {
  background: var(--x);
  border-radius: 0.25em;
  color: var(--on-x);
  padding: 0.3em;
}

.infodot {
  align-items: center;
  display: inline-flex;
}
.infodot .circle {
  background: var(--x);
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  margin-right: 0.1em;
  width: 1em;
}
.infodot .text {
  color: var(--subtitle);
  line-height: 1em;
  text-transform: uppercase;
}

@media print {
  #menu {
    display: none;
  }

  @page {
    margin: 17mm 17mm 17mm;
    size: a4;
    @bottom-left {
      bottom: 6mm;
      content: counter(page) "/" counter(pages);
      font-size: calc(var(--s-1) * 1em);
      font-weight: bold;
      position: relative;
    }
    @right-bottom {
      align-items: center;
      bottom: 100mm;
      color: var(--light-metadata);
      content: "Fork this resume: github.com/advl/resume";
      height: 10mm;
      position: relative;
      text-align: right;
      transform: rotate(90deg);
      transform-origin: bottom left;
      width: 100mm;
    }
    @bottom-right {
      bottom: 6mm;
      color: var(--light-metadata);
      content: "Updated August 2023";
      position: relative;
    }
    @top-left {
      content: "a@adrianv.net";
      font-weight: bold;
      position: relative;
      top: 6mm;
    }
  }
  @page horizontal {
    size: a4 horizontal;
    @bottom-left {
      content: "XXX " counter(page) " of " counter(pages);
    }
  }
  body {
    background: transparent;
    /* change the margins as you want them to be. */
  }
}
a.ct::after {
  color: inherit;
  content: " (" attr(data-ct) ")";
  font-size: 0.6em;
  text-align: left;
}

a:not(.sl)[href]::after {
  color: inherit;
  content: " (" attr(href) ")";
  font-size: 0.6em;
  text-align: left;
}
